<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}FUSSION FITNESS{% endblock %}</title>
        <LINK href="{{asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <script src="//code.jquery.com/jquery.min.js"></script>
        <LINK href="{{asset('fontawesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        {% block footable %}
        {% endblock %}
        <style>
            .bg-morado{
                background-color: #e2048d;
            }

            body{
                background-image: url("{{asset('imagenes/fondoclaro3.jpg') }}");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100%;
            }

            .btn-gral{
                margin-top: 2%;
                background-color: #e2048d;
                color:white;
            }

            .btn-print{
                margin-top: 2%;
                background-color: #e2048d;
                color:white;
                float: right;
            }

            .btn-back{
                margin-top: 2%;
                background-color: #e2048d;
                color:white;
                float: left;  
            }
            
            .zona-informe{
                padding-top: 8%;            
            }

        </style>
    </head>
    <body >

        
        {% block body %}
        {% endblock %}

        {% block footer %}
       	<div class="d-flex justify-content-center text-light fondo-negro">
       		<div>
	       		
	       	</div>
       	</div>
        {% endblock %}
        {% block javascripts %}
        <script type="text/javascript">
            jQuery(function($){
                $('.table').footable();
            });
        </script>
        {% endblock %}
    </body>
</html>