{% extends 'base2.html.twig' %}

    {% block stylesheets %}
    <style>
        .superior{
            height: 10%;
        }

        .superior2{
            height: 56%;
        }
        .contenido{
            height: 100%;
        }

        .etiqueta{
            color:white;
            text-shadow: 0px 0px 8px rgba(255,64,255,1), -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;;
            font-size: large;
        }
    </style>
    {% endblock %}
    {% block body %}
        <div class="text-center contenido">
            <div class="superior"></div>
            <label class="font-weight-bold etiqueta"><h2>SISTEMA DE REGISTRO DE ASISTENCIA</h2></label>
            <br>
            {% if estado == 1 %}
                <label class="font-weight-bold etiqueta text-warning" ><h4>Su asistencia se ha registrado con exito. </h4></label>
                <label class="font-weight-bold etiqueta text-warning" ><h4>Disfrute la clase.</h4></label>
                <meta http-equiv="refresh" content="4;url={{ path('asistencia') }}" />
            {% elseif estado == 3 %}
                <label class="font-weight-bold etiqueta text-warning" ><h4>Ya registro una asistencia a esta clase hoy. </h4></label>
                <label class="font-weight-bold etiqueta text-warning" ><h4>Si es un error comuniquelo en recepción.</h4></label>
                <meta http-equiv="refresh" content="10;url={{ path('asistencia') }}" />
            {% else %}
                <label class="font-weight-bold etiqueta text-warning" ><h1>USTED NO TIENE CLASES DISPONIBLES. </h1></label>
                    <br>
                <label class="font-weight-bold etiqueta text-light" ><h1>REGULARICE SU ESTADO DE CUENTA.</h1></label>
                <meta http-equiv="refresh" content="15;url={{ path('asistencia') }}" />
            {% endif %}
            <br>
            
            <div class="superior2"></div>
        </div>
    {% endblock %}
