<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Fussion Fitness Gym</title>
    </head>
    <body>
        <header>
            <img src="{{ path ~ asset('public/imagenes/favito.jpg') }}" alt="Logo" height="180" />
        </header>
    </body>
</html>